@model BookshelfMVC.Application.ViewModels.Books.NewBookVm

@{
    ViewData["Title"] = "AddBook";
}

<h1>Add Book</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBook" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="NumberOfPages" class="control-label">Number of pages</label>
                <input asp-for="NumberOfPages" class="form-control" />
                <span asp-validation-for="NumberOfPages" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="YearOfPublish" class="control-label">Year of publish</label>
                <input asp-for="YearOfPublish" class="form-control" />
                <span asp-validation-for="YearOfPublish" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Price" class="control-label">Price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Language" class="control-label">Language</label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="col-4 mb-3">
                <label asp-for="WriterId" class="control-label">Writer</label>
                    <select asp-for="WriterId" class="form-control" asp-items="@(new SelectList(Model.Writers,"Id","FullName"))">
                        <option selected disabled>Select writer</option>
                    </select>
                    <span asp-validation-for="WriterId" class="text-danger"></span>
            </div>
            <div class="col-4 mb-3">
                <label asp-for="PublisherId" class="control-label">Publisher</label>
                    <select asp-for="PublisherId" class="form-control" asp-items="@(new SelectList(Model.Publishers,"Id","Name"))">
                        <option selected disabled>Select publisher</option>
                    </select>
                    <span asp-validation-for="PublisherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
